---
title: Industrial Empathy Tutorial
layout: layouts/home.njk
description: This is an open sourced visual tutorial on how to configure a newly registered OnlyDomains domain to use Cloudflare DNS and how to deploy Industrial Empathy 11ty template serverless via GitHub Actions on GitHub Pages delivered at the Edge on CloudFlare CDN.
image: https://gist.githubusercontent.com/0-vortex/8c1147b957f88b7ceaa85d3b22843803/raw/91b5b9e724b43f442f41227dc63ae26ae7b85a6f/singleton.jpg
date: Last Modified
---

<p>
  This is a demo website and tutorial based on
  <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
</p>

<div id="posts">
  <h2>Posts (steps)</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
